<header class="navigation">
  <div class="container">
    <nav class="mobile-nav">
      <a class="logo__link" href="/">
        <svg class="logo__icon">
          <use href="images/icons.svg#icon-icecream"></use>
        </svg>
      </a>
      <div class="button">
        <button class="button__mobile">
          <svg class="button__mobile-icon">
            <use href="images/icons.svg#icon-burgermenu"></use>
          </svg>
        </button>
        <button class="button-buy">Buy now</button>
      </div>
    </nav>
  </div>
</header>
<section class="hero">
  <div class="container">
    <h1 class="hero__h1">
      ice cream made with <span class="hero__h1--span">passion</span>
    </h1>
    <ul class="hero__ul">
      <li class="hero__li hero__li--products"><a href=""></a>Products</li>
      <li class="hero__li"><a href=""></a>How it's made?</li>
    </ul>
    <img
      class="icecream-smile"
      src="images/hero-header/hero-icecream-mobile.png"
      alt="cute icecream"
    />
    <img
      class="dotted-design"
      src="images/hero-header/dotted-design.png"
      alt="dotted design"
    />
  </div>
</section>
